* {margin: 0; padding: 0;}
 
body {
  background: #263f3f;
}
 

.cardplaceholder{

  position: relative;
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 20px;
  position: absolute;
  top:390px;
  left:490px;
  
  border:8px solid yellow;
}

.title{
  color:yellow;
  font-family: "Arial Black", Gadget, sans-serif;
  position: absolute;
  left:450px;
}

.buttons{
  position: relative;
  float: left;
  margin-right: 10px;
  
  height: 220px;
  position: absolute;
  top:650px;
  left:330px;
  
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 15px 30px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   text-decoration: none;
   vertical-align: middle;
   width:160px;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


.card {
  position: absolute;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 6px 5px 17px black;
  transition: left .6s, top .7s;
}

.card.down{
  background-color: darkred;
}

.card.down .suit{
  display: none;
}
.card.down .rank{
  display: none;
}

.red {
  color:maroon;
}

.card p {
  text-align: center;
  font-size: 8em;
  font-family:  Georgia, Times New Roman, serif;
  font-family: monospace; 
  position: relative;
  top:.3em;
}

.card .suit.top{

  position: absolute;
  top:1.5em;
  left:10px;
  font-size:1.5em;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-family: monospace; 
  text-align: center;

}

.card .rank.top{

  position: absolute;
  top:8px;
  left:10px;
  font-size:1.5em;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-family: monospace; 
  text-align: center;

}

.card .rank.center{

  text-align: center;
  font-size: 8em;
  font-family:  Georgia, Times New Roman, serif;
  font-family: monospace; 
  position: relative;
  top:.3em;

}

.card .suit.bottom{

  position: absolute;
  bottom:10px;
  right:10px;
  font-size:1.5em;
  font-family: monospace; 

}